{% if section.blocks.size > 0 %}
  <div class="page-width">
    <div class="custom-footer__blocks">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'image' %}
              {% assign image = block.settings.image %}
              <figure class="store-logo">
                <img loading="lazy"
                     srcset="{% if image.width >= 50 %}{{ image | image_url: width: 50 }} 50w,{% endif %}
                      {% if image.width >= 80 %}{{ image | image_url: width: 80 }} 80w,{% endif %}
                      {% if image.width >= 100 %}{{ image | image_url: width: 100 }} 100w,{% endif %}
                      {% if image.width >= 150 %}{{ image | image_url: width: 150 }} 150w,{% endif %}
                      {% if image.width >= 200 %}{{ image | image_url: width: 200 }} 200w,{% endif %}
                      {{ image | image_url }} {{ image.width }}w"
                    src="{{ image | image_url: width: 50 }}"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                  />
              </figure>
            {% when 'newsletter' %}
              {% if block.settings.btn_label %}
              <details>
                <summary class="custom-footer__item text-body btn-plain">
                  {{ block.settings.btn_label }}
                </summary>
                {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="ContactFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="ContactFooter-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                      <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                        {% render 'icon-arrow' %}
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                  {%- endif -%}
                {%- endform -%}
              </details>
              {% endif %}
            {% when 'pop-up' %}
              {% if block.settings.btn_label %}
                <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                  <button id="ProductPopup-{{ block.id }}"  class="custom-open-popup product-popup-modal__button custom-footer__item text-body btn-plain" type="button" aria-haspopup="dialog">
                    {{ block.settings.btn_label }}
                  </button>
                </modal-opener>
              {% endif %}
          {% endcase %}
        {% endfor %}
    </div>
  </div>

  {% assign popup = section.blocks | where: "type", "pop-up" | first %}
  <modal-dialog id="PopupModal-{{ popup.id }}" class="product-popup-modal custom-close-popup" {{ popup.shopify_attributes }}>
    <div role="dialog" aria-label="Mission" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      {% comment %}
      {% endcomment %}
      <button id="ModalClose-{{ popup.id }}" type="button" class="hidden product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <div class="product-popup-modal__content-info">
        {{ popup.settings.content }}
      </div>
    </div>
  </modal-dialog>
{% endif %}

{% schema %}
  {
    "name": "Custom footer",
    "tag": "footer",
    "class": "custom-footer",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Footer's logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Store logo"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "default": "Newsletter"
          }
        ]
      },
      {
        "type": "pop-up",
        "name": "Pop up",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "default": "Mission"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Pop up content"
          }
        ]
      }
    ]
  }
{% endschema %}
